/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; /* Exemplo de fonte */
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Cor de fundo suave */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-container {
    background-color: #fff; /* Fundo branco para o formulário */
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
    width: 400px;
    min-width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #202020; /* Cor do título */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #1d1d1d; /* Cor dos labels */
    text-align: left;
}

input[type="text"],
input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Borda suave */
    border-radius: 5px;
    font-size: 1rem;
    color: #333; /* Cor do texto do input */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Cor da borda no foco */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2); /* Sombra no foco */
}

button {
    padding: 0.8rem;
    background-color: #007bff; /* Cor de fundo do botão */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #0056b3; /* Cor do botão no hover */
}

.register-container {
    margin-top: 1.5rem;
}

.register-container p {
    font-size: 1rem;
    color: #555; /* Cor do texto */
    margin-bottom: 0.5rem;
}

.register-container a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #28a745; /* Cor de fundo do botão de cadastro */
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.register-container a:hover {
    background-color: #218838; /* Cor do botão de cadastro no hover */
}

.error-message {
    margin-top: 1rem;
    font-size: 1rem;
    display: none;
}